body {
    font-family: Terminal, Roboto
}

.catstep {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.catstep-down {
    bottom: 30px;
    position: relative;
}

.catstep-joystick {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}
