.catstep {
    width: 200px;
    height: 200px;
    position: relative;
}

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.catstep-down {
    bottom: 30px;
    position: relative;
}