.catstep {
    width: 200px;
    height: 200px;
    position: relative;
}

.catstep-down {
    bottom: 30px;
    position: relative;
}

.catstep-joystick {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}
